<?xml version="1.0"?> <!-- This is a generic launching file that must be passed parameters -->
<launch>

	<arg name="can_device"/>
	<arg name="reset_errors_before_recover" default="true"/>
	<arg name="name" default="CANopen"/>
	
	<!-- start canopen node -->
	<node pkg="canopen_motor_node" type="canopen_motor_node" name="$(arg name)" output="screen">
		<rosparam subst_value="True">{bus: { device: $(arg can_device) } }</rosparam>
		<param name="bus/master_allocator" value="canopen::SimpleMaster::Allocator"/> <!-- this is not used in COB4 -->
		<param name="reset_errors_before_recover" value="$(arg reset_errors_before_recover)"/>
	</node>

</launch>
