<?xml version="1.0"?>
<launch>

    <!-- Generic Parameters -->
	<arg name="robot" value="basic_pig"/>
	<arg name="sim" value="false"/>

    <!-- URDF parameters -->
    <arg name="path2urdf" value="$(find little_pig_description)"/>

    <!-- CAN parameters -->
    <arg name="can_device" value="can0"/>
    <arg name="interval_ms" value="500"/>
    <arg name="path2can_config" value="$(find little_pig_ctrl)"/>

    <!-- Controll parameters -->
    <arg name="path2control_config" value="$(find little_pig_ctrl)"/>


    <include file="$(find little_pig_description)/launch/upload_robot.launch">
        <arg name="robot" value="$(arg robot)"/>
        <arg name="pkg_hardware_config" value="$(arg path2urdf)"/>
    </include>

    <include file="$(find little_pig_ctrl)/launch/canopen_402.launch">
        <arg name="robot" value="$(arg robot)"/>
        <arg name="pkg_hardware_config" value="$(arg path2can_config)"/>
        <arg name="component_name" value="CANopen"/>
        <arg name="can_device" value="$(arg can_device)"/>
        <arg name="interval_ms" value="$(arg interval_ms)"/>
        <!-- <arg name="reset_errors_before_recover" value="$(arg reset_errors_before_recover)"/ Deemed Unnecessary -->
    </include>

    <include file="$(find little_pig_ctrl)/launch/generic_controller.launch"> <!-- Calls generic_controller launch -->
        <arg name="robot" value="$(arg robot)"/>
        <arg name="component_name" value="CANopen"/>
    </include>

</launch>
