<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_hardware_config" default="$(find little_pig_ctrl)"/>
	<arg name="component_name"/>
	<arg name="cmd_timeout" default="0.5"/>

	<group ns="$(arg component_name)">
		<rosparam command="load" file="$(arg pkg_hardware_config)/config/motor_controller.yaml"/> <!-- this is the controller params -->
	</group>

</launch>
